# ========================
# macOS
# ========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# ========================
# Model weights
# ========================
*.pth
*.pt
*.ckpt

# ========================
# Dataset / data folder
# ========================
data/

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ========================
# Logs & temp
# ========================
*.log
*.tmp